body {
  --file-line-width: 100%;
}

/* Nord Palette: https://www.nordtheme.com/docs/colors-and-palettes */
.theme-dark {
  /* Darker background (original: #2e3440, another option: #202329) */
  --background-primary: #1c1f26;
  --background-secondary: #1c1f26;
  --background-secondary-alt: #1c1f26;
  --text-selection: rgba(129, 161, 193, 0.3);

  --inline-title-color: var(--light0);
  --tab-text-color-focused-active-current: var(--frost3);
  --text-accent: var(--frost3);
  --icon-color-hover: var(--frost3);
  --nav-item-color-hover: var(--frost3);
  --calendar-hover: var(--frost3);
  --titlebar-text-color-focused: var(--light0);
  --cursor-line-background: none;

  --h1-color: var(--frost0);
  --h2-color: var(--frost1);
  --h3-color: var(--frost2);
  --h4-color: var(--frost3);
  --h5-color: var(--green);
  --h6-color: var(--yellow);

  --bold-color: var(--purple);
  --italic-color: var(--purple);

  --checkbox-color: var(--frost3);
  --checkbox-color-hover: var(--frost3);
  --checkbox-border-color: var(--frost3);
  --checkbox-border-color-hover: var(--frost3);

  --code-background: var(--dark0);
}

.suggestion-highlight {
  color: var(--frost3);
}